* {
  font-family: fantasy;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #E5CFAA;
}

#navbar {
  background-color: #264653;
  padding: 1rem;
}

#nav-brand-container {
  width: 50%;
  padding-left: 3rem;
  padding-right: 0rem;
  margin: 0;
}

#navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  color: #2A9D8F
}

.navlink:hover {
  font-weight: bold;
}

.navlink:active {
  background-color: #2A9D8F;
  color: white
}

#hero {
  margin: 5rem;
  padding: 3rem;
  padding-bottom: 8rem;
}

#programmer-gif {
  mix-blend-mode: multiply;
}

#hero-h4 {
  font-weight: bold;
  font-size: 1.5rem;
  color: #264653
}

#hero-h2 {
  font-weight: bolder;
  font-size: 3rem;
  color: #2A9D8F
}

#hero-p {
  font-size: 1.2rem;
  color: #264653
}

#about {
  background-color: #E9C46A;
  margin: 5rem;
  padding: 3rem;
}

#about-image {
  height: 50%;
  width: 50%;
}

#about-h2 {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  color: #264653;
  text-align: center;
}

.about-p {
  color: #264653;
  font-size: 1.2rem;
  text-align: center;
}

#resume-btn {
  padding: 10px;
  text-align: center;
  background-color: #264653;
  color: #2A9D8F;
  font-weight: bold;
  border: none;
  font-size: 1.3rem;
}

#about a:link {
  color:#2A9D8F;
}

#about a:visited {
  color: rgb(120, 120, 243);
}

#about a:hover {
  color: #E5CFAA;
}

#skills {
  margin: 5rem;
  padding: 3rem;
  padding-top: 10rem;
}

#skills-h2 {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  color: #264653;
  text-align: center;
  padding-bottom: 2rem;
}

#skills img {
  width: 35%;
  padding-top: 1rem;
}

#skills h5 {
  font-weight: bolder;
  font-size: 1.6rem;
  color: #2A9D8F;
  text-align: center;
}

#projects {
  margin: 5rem;
  padding: 3rem;
  padding-top: 8rem;
}

#projects-h2 {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  color: #264653;
  text-align: center;
  padding-bottom: 2rem;
}

.my-custom-hover-effect:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#contact {
  margin: 5rem;
  padding: 3rem;
  padding-top: 8rem;
}

#contact-h2 {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  color: #264653;
  text-align: center;
  padding-bottom: 1.5rem;
}

#contact .btn {
  background-color: #264653;
  color: #2A9D8F;
}

#contact h4 {
  font-weight: bold;
  font-size: 1.5rem;
  color: #264653;
  margin: 0;
}

#contact p {
  font-size: 1.2rem;
  color: #264653;
  margin: 0;
}

#contact-container {
  padding-left: 5rem;
  padding-right: 5rem;
  text-align: center;
}

#footer-h2 {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  color: #264653;
  text-align: center;
  padding-bottom: 1.5rem;
}

#up-arrow {
  position: fixed;
  right: 1.5rem;
  bottom: 2.1rem;
  max-width: 3rem;
}